<button onclick="@OnClick" type="@GetButtonType()" class="btn btn-@GetColor()">@ChildContent</button>

@code {
    [Parameter] public Colors Color { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public ButtonType Type { get; set; } = ButtonType.Button;
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }





    private string GetColor()
    {
        return Color switch

        {
            Colors.Blue => "primary",
            Colors.Green => "success",
            Colors.Red => "danger",
            Colors.Cyan => "info",
            Colors.Yellow => "warning",
            Colors.DarkGrey => "dark",
            Colors.Grey => "secondary",
            Colors.LightGray => "light",
            _ => ""
        };
    }

    private string GetButtonType()
    {
        return Type switch

        {
            ButtonType.Button => "button",
            ButtonType.Submit => "submit",
            ButtonType.Reset => "reset",
            _ => "button"
        };
    }
}