


<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <img src="LogoTranspBg.png" alt="" width="60" height="60" class="d-inline-block align-text-center">
            OpersonligtBrev
        </a>
        
        <AuthorizeView>
            <Authorized>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" aria-current="page" href="./my-resume">Mitt CV</a>
                        <a class="nav-link" href="./create-letter">Personligt brev</a>
                        <a class="nav-link" href="./my-account">Mitt konto</a>
                        <a class="nav-link" href="./logout">Logga ut</a>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
</nav>




@code {
    
}