<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <img src="https://png.pngtree.com/element_our/20190524/ourmid/pngtree-the-companys-general-logo-is-commercially-available-image_1107874.jpg" alt="" width="30" height="24">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <AuthorizeView>
            <Authorized>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" aria-current="page" href="./my-resume">Mitt CV</a>
                        <a class="nav-link" href="./create-letter">Mina brev</a>
                        <a class="nav-link" href="./my-account">Mitt konto</a>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
</nav>

@code {
    
}