@page "/"

<PageTitle>OPersonligtBrev</PageTitle>

<AuthorizeView>
    <Authorized>
        Välkommen!

    </Authorized>
    <NotAuthorized>
        <div class="d-flex justify-content-center vh-100">
            <div class="w-50">
                <h1>Logga in</h1>
                <LoginPage/>
                <p>Inget konto? Klicka <a href="./register">här</a> för att registrera dig!</p>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>


