@page "/"

<PageTitle>OPersonligtBrev</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="container mt-5">
            
                    <h3 >Välkommen tillbaka!</h3>
                    <p class="card-text">Kul att se dig igen! Här kan du enkelt fortsätta att optimera din jobbsökning och skapa professionella, skräddarsydda personliga brev på några få minuter.</p>

                    <ul >
                        <li><strong>Jobbhistorik & CV</strong><br>Uppdatera din jobbhistorik och ditt CV när du har nya erfarenheter eller färdigheter att lägga till.</li>
                        <li><strong>Generera Personliga Brev</strong><br>Skriv in företaget och arbetsbeskrivningen för det jobb du vill söka, och låt vårt verktyg skapa ett skräddarsytt personligt brev som lyfter fram dina kvalifikationer och erfarenheter på bästa sätt.</li>
                    </ul>

                    <h5 class="mt-4">Tips för Framgång:</h5>
                    <ul >
                        <li>Håll din profil uppdaterad: Se till att din jobbhistorik och ditt CV alltid är aktuella.</li>
                        <li>Personifiera dina brev: Anpassa de genererade breven för att spegla din unika röst och stil.</li>
                    </ul>
             
        </div>

    </Authorized>
    <NotAuthorized>
        <div class="d-flex justify-content-center vh-100">
            <div class="w-60">
                <h1>Logga in</h1>
                <LoginPage/>
                <p>Inget konto? Klicka <a href="./register">här</a> för att registrera dig!</p>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>


