@page "/my-letters"
@inject IResumeService ResumeService
@inject ILetterService LetterService
@inject IAccountManagement AuthenticationStateProvider
@inject NavigationManager NavigationManager

<PageTitle>BrevProffsen</PageTitle>
<AuthorizeView>
    <Authorized>
        <div class="container">

        </div>
        
        

    </Authorized>
    <NotAuthorized>
        404 not found
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var isAuth = await AuthenticationStateProvider.CheckAuthenticatedAsync();

        if (isAuth)
        {
            
        }
        else
        {
            NavigationManager.NavigateTo("./");
        }




    }
}