@page "/policy"

<PageTitle>OPersonligtBrev</PageTitle>


<div class="container mt-4">
    <h1 class="mb-4">Integritetspolicy</h1>
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">OPersonligBrev Integritetspolicy</h5>
            <p class="card-text">Senast uppdaterad: 2024-07-20</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">1. Introduktion</h5>
            <p class="card-text">OPersonligtBrev värnar om din integritet och är engagerade i att skydda dina personuppgifter. Denna integritetspolicy förklarar hur vi samlar in, använder, och delar din information när du använder vår tjänst.</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">2. Information vi samlar in</h5>
            <p class="card-text">När du registrerar dig och använder vår tjänst samlar vi in följande information:</p>
            <ul>
                <li>Kontaktinformation: Din e-postadress.</li>
                <li>Profilinformation: Information som du anger när du skapar ditt CV och personliga brev.</li>
            </ul>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">3. Hur vi använder din information</h5>
            <p class="card-text">Vi använder din information för att:</p>
            <ul>
                <li>Tillhandahålla och förbättra vår tjänst.</li>
                <li>Hantera ditt konto och ge dig kundsupport.</li>
                <li>Skicka administrativa meddelanden, säkerhetsvarningar och uppdateringar.</li>
            </ul>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">4. Hur vi delar din information</h5>
            <p class="card-text">Vi delar inte din personliga information med tredje part, förutom:</p>
            <ul>
                <li>När det krävs enligt lag.</li>
                <li>Med våra tjänsteleverantörer som hjälper oss att tillhandahålla och förbättra vår tjänst.</li>
            </ul>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">5. Datasäkerhet</h5>
            <p class="card-text">Vi använder tekniska och organisatoriska åtgärder för att skydda din information, inklusive kryptering.</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">6. Dina rättigheter</h5>
            <p class="card-text">Enligt GDPR har du rätt att:</p>
            <ul>
                <li>Få tillgång till din data.</li>
                <li>Rätta felaktig information.</li>
                <li>Begära radering av din data.</li>
                <li>Invända mot behandling av din data.</li>
                <li>Begära dataportabilitet.</li>
            </ul>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">7. Lagring av data</h5>
            <p class="card-text">Vi lagrar din information så länge som ditt konto är aktivt eller så länge som det behövs för att tillhandahålla vår tjänst.</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">8. Ändringar i denna policy</h5>
            <p class="card-text">Vi kan uppdatera denna integritetspolicy från tid till annan. Vi meddelar dig om eventuella ändringar genom att publicera den nya policyn på vår hemsida.</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">9. Kontakta oss</h5>
            <p class="card-text">
                Om du har några frågor om denna integritetspolicy, kontakta oss på:<br>
                opersonligtbrev@gmail.com
            </p>
        </div>
    </div>

    <h1 class="mt-5 mb-4">Användarvillkor</h1>
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">OPersonligtBrev Användarvillkor</h5>
            <p class="card-text">Senast uppdaterad: 2024-07-20</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">1. Introduktion</h5>
            <p class="card-text">Välkommen till OpersonligtBrev. Genom att använda vår tjänst godkänner du dessa användarvillkor.</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">2. Användarkonto</h5>
            <p class="card-text">För att använda vår tjänst måste du registrera ett konto och ange en giltig e-postadress. Du ansvarar för att hålla din kontoinformation säker.</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">3. Användning av tjänsten</h5>
            <p class="card-text">Du får använda vår tjänst endast för lagliga ändamål och i enlighet med dessa villkor. Du får inte:</p>
            <ul>
                <li>Använda tjänsten för att lagra olagligt eller skadligt innehåll.</li>
                <li>Försöka att hacka eller skada vår tjänst.</li>
            </ul>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">4. Immateriella rättigheter</h5>
            <p class="card-text">Allt innehåll på vår hemsida, inklusive text, grafik, logotyper, och programvara, är vår egendom och skyddas av upphovsrättslagar.</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">5. Ansvarsbegränsning</h5>
            <p class="card-text">Vi ansvarar inte för indirekta skador eller förluster som uppstår genom användningen av vår tjänst.</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">6. Ändringar av villkor</h5>
            <p class="card-text">Vi kan ändra dessa användarvillkor när som helst. Vi kommer att meddela dig om ändringar genom att publicera de nya villkoren på vår hemsida.</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">7. Avslutning av konto</h5>
            <p class="card-text">Vi förbehåller oss rätten att avsluta eller suspendera ditt konto om du bryter mot dessa villkor.</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">8. Tillämplig lag</h5>
            <p class="card-text">Dessa villkor regleras av och tolkas i enlighet med Sverige och EUs lagar.</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">9. Kontakta oss</h5>
            <p class="card-text">
                Om du har några frågor om dessa användarvillkor, kontakta oss på:<br>
                opersonligbrev@gmail.com
            </p>
        </div>
    </div>
</div>
@code {
    
}